.investment-project {
  @apply w-full;
  padding: 2rem 0;
  position: relative;
  overflow: hidden;
  
  @media (min-width: 768px) {
    padding: 3rem 0;
  }
}

.investment-project-container {
  width: 100%;
  @apply relative z-10;
  
  > * {
    @apply w-full;
  }
}

.investment-project .section-title {
  @apply text-text-primary text-2xl md:text-4xl font-bold text-center mb-8;
}

.project-content {
  @apply mx-auto relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: url('../../assets/images/invest-bg-mobile.png') no-repeat;
  background-size: cover;
  min-height: 400px;
  
  @media (min-width: 768px) {
    background: url('../../assets/images/invest-bg-pc.png') no-repeat;
    background-size: cover;
    min-height: 13.8125rem;
  }
}

.project-details {
  @apply relative z-10;
  padding: 2rem 2rem;
  margin-left: 16rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @media (max-width: 768px) {
    padding: 0.5rem 0.5rem;
    margin-left: 0;
    margin-top: 20%;
  }
}

.detail-item {
  color: #fff;
  line-height: 1.4;
  margin-bottom: 0.25rem;
  @apply text-base md:text-lg;
  
  strong {
    @apply font-bold;
  }
}

.disclaimer {
  color: #fff;
  line-height: 1.4;
  margin-top: 0.25rem;
  @apply text-base md:text-lg;
}

