// Common container settings
$container-padding-mobile: 1rem !default;
$container-padding-tablet: 2rem !default;
$container-padding-desktop: 2rem !default;

// Content width - 80% of viewport
$content-width: 80% !default;
$content-padding: 2rem !default;

