.header {
  @apply bg-white w-full;
  padding-top: $container-padding-mobile;
}

.header-container {
  width: $content-width;
  @apply mx-auto;
  padding: 0 $content-padding;
  
  > * {
    @apply w-full;
  }
}

.logo {
  @apply flex items-center justify-center;
  
  .logo-img {
    @apply h-8 md:h-10;
    width: auto;
  }
  
  .logo-mobile {
    @apply block md:hidden;
  }
  
  .logo-pc {
    @apply hidden md:block;
  }
}

